<h1> All Posts </h1>

{{> home/form-msgs}}


<table class="table table-bordered">

    <thead>
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Title</th>
        <th>Status</th>
        <th>Category</th>
        <th>Allow Comments</th>
        <th>View</th>
        <th> Date </th>
    </tr>

    </thead>

    <tbody>
    {{#each posts}}
    <tr>
        <td>{{id}}</td>
        <td><img height="50" class="img-responsive" src="data:{{img.contentType}};base64, {{img.data}}" alt=""> </td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{category.name}}</td>
        <td>{{allowComments}}</td>
        <td><a href="/post/{{id}}" target="_blank">View</a></td>
        <td>{{generateTime date 'MMMM Do YYYY'}}</td>
    </tr>
    {{/each}}
    </tbody>

</table>