<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h6 class="my-4"></h6>

        <!-- Blog Post -->
     {{#if posts}}   
    {{#each posts}}
        <div class="card mb-4">
            <img class="card-img-top" src="data:{{img.contentType}};base64, {{img.data}}" alt="">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <a href="/post/{{id}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{generateTime date 'MMMM Do YYYY'}}
            </div>
        </div>
    {{/each}}
         
     {{else}}
         <h1>No Posts</h1>

     {{/if}}

        <!-- Pagination -->
        <!--<ul class="pagination justify-content-center mb-4">-->
            <!--<li class="page-item">-->
                <!--<a class="page-link" href="#">&larr; Older</a>-->
            <!--</li>-->
            <!--<li class="page-item disabled">-->
                <!--<a class="page-link" href="#">Newer &rarr;</a>-->
            <!--</li>-->
        <!--</ul>-->

    </div>

    <!-- Sidebar Widgets Column -->
    {{> home/sidebar}}

</div>